body {
    margin: 0;
    font-family: 'Zen Maru Gothic', sans-serif;
    font-size: 16px;
    color: #1e1d21;
    -webkit-font-smoothing: antialiased;
    background-color: #f5ece6;
    background-image: url("https://www.transparenttextures.com/patterns/inspiration-geometry.png");
}


*,*:before,*:after{
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    font-size: 19px;
}


.bgline {
    height: 55px;
    background-color: #3e3936;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}


/*  ====Container====  */

.container {
    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

}

.container2 {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

    padding-bottom: 110px;


}

/*  ====Header====  */

.header {
    width: 100%;
    height: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    padding: 0 15px 0 15px;
}

.header.fixed {
    height: auto;
    position: fixed;
    background-color: #3e3936;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
}

.header.fixed .header__inner {
    padding-bottom: 10px;
    padding-top: 10px;

    border-bottom: 0;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items:center;
    padding: 30px 0;
    border-bottom: 1px solid #3c1414;
}

/*  ====Nav====  */

.nav {
    display: flex;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.nav__link {
    margin-left: 50px;
    color: #f5ece6;
    text-decoration: none;
    opacity: 0.75;

    transition: opacity 0.1s linear;
}

.nav__link:first-child {
    margin-left: 0;
}

.nav__link:hover {
    opacity: 1;
}

/*  ====Intro====  */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 620px;
    padding-top: 100px;
    background: #707259 url("img/intro.jpg") center no-repeat;
    background-size: cover;
    padding-bottom: 50px;
}

.intro__inner {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;

    text-align: center;
    font-family: 'Caveat', cursive;
}

.intro__title {
    margin: 0 0 30px;

    font-size: 65px;
    line-height: 1.1;
    color:#f5ece6;
    font-weight: 700;
    text-transform: uppercase;
}

.intro__subtitle {
    margin-bottom: 60px;
    font-size: 44px;
    color: #f5ece6;
    line-height: 1.1;
    font-weight: 400;
}

/*  ====Button====  */

.btn {
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline-block;
    vertical-align: top;

    border-radius: 30px;
    border: 0;
    cursor: pointer;

    font-size: 20px;
    color: #f5ece6;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;

    transition: background 0.15s linear;
    
    background-color: #641e28;
}

.btn2 {
    font-family: 'Zen Maru Gothic', sans-serif;
    display: inline-block;
    vertical-align: top;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    font-size: 20px;
    color: #f5ece6;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    padding: 14px 40px;
    transition: background 0.15s linear;  
}

.btn--red {
    background-color: #641e28;
}

.btn--red:hover {
    background-color: #52151d;
}

/*====Profile====*/

.profile {
    display: flex;
    padding-bottom: 170px;
    padding-top: 70px;
    justify-content: center;
    text-align: center;
    position:relative;
    left: 50%;
    z-index: 6;
    transform: translate3d(-50%,0,0);
}

.profile__item {
    width: 33.333333%;
    padding: 0 15px;
    text-align: center;
    margin: auto;


    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profile__icon {
    width: 300px;

    margin-bottom: 20px;
    margin-top: 20px;
    filter: drop-shadow(0 0 25px #7b5454);


    position:relative;
    left: 50%;
    z-index: 6;

    width: auto;

    transform: translate3d(-50%,0,0);

}

.profile__title {
    padding: 14px 0 7px 0;

    font-size: 17px;
    color: #1a1527;
    font-weight: 700;
    text-transform: uppercase;
}

.profile__text {
    font-size: 16px;
    line-height: 1.5;
    color: #1e1d21;
}

.profile__up {
    margin: 80px 0 5px 0;
    font-size: 45px;
    line-height: 1.1;
    color:#641e28;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Caveat', cursive;
}

.profile__subup {
    padding: 0 0 15px 0;
    font-size: 35px;
    color: #641e28;
    line-height: 1.1;
    font-weight: 400;
    text-align: center;
    font-family: 'Caveat', cursive;
    border-bottom: 1px solid #3c1414;

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

}








/*====Footer====*/

.footer {
    padding: 35px 0;

    background-color: #3e3936;
    background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");

    position: relative;
}

.footer__inner {
    display: flex;
    flex-wrap: wrap;
}

.footer__block {
    width: 33.333333%;

    text-align: center;
}


.footer__center .footer__icon:hover {
    opacity: 1;
}


.footer__title {
    font-size: 16px;
    font-weight: 700;
    color: #f5ece6;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.footer__text {
    font-size: 16px;
    color: #f5ece6;
    line-height: 1.5;
}

.footer__center {
    margin: 15px 0;

}

.footer__icon {
    width: 50px;
    opacity: 1;
    transition: opacity 0.2s linear;
}

.footer__icona {
    width: 50px;
    opacity: 0.70;
    transition: opacity 0.2s linear;
}

.footer__icona:hover {
    width: 50px;
    opacity: 1;
    transition: opacity 0.2s linear;
}


/*Burger*/
.burger {
    padding: 15px 2px;
    display: none;
    background: none;
    border: 0;
    cursor: pointer;
}
.burger__item {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    font-size: 0;
    color: transparent;
    position: relative;
    cursor: pointer;

}
.burger__item:before,
.burger__item:after {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #fff;
    position: absolute;
    left: 0;
    z-index: 1;
}
.burger__item:before{
    top: -8px;
}
.burger__item:after{
    bottom: -8px;
}
/*====Media====*/
@media(max-width:1200px){
    /*Nav*/
    .nav {
        display: none;
        width: 100%;
        flex-direction: column;
        text-align: right;

        position: absolute;
        top: 100%;
        right: 0;
    }

    .nav.show {
        display: flex;
    }

    .nav__link {
        padding: 9px 15px;
        background-color: #3e3936;
        background-image: url("https://www.transparenttextures.com/patterns/bright-squares.png");
        opacity: 0.86;
    }
    /*Burger*/
    .burger {
        display: block;
    }
    /*Intro*/
    .intro__title {

    }
    /*Profile*/
    /*Instphoto*/
    /*Project*/
    /*Program*/
    /*Footer*/

}

@media(max-width:640px){
    /*Intro*/
    .intro {
        height: auto;
        padding-top: 170px;
        padding-bottom: 50px;
    }
    .intro__title {
        font-size: 40px;
    }
    .intro__subtitle {
        font-size: 30px;
        margin-bottom: 30px;
    }
    /*Profile*/
    .profile {
        display: flex;
        flex-wrap: wrap;
    }
    .profile__item {
        width:100%;
        position: relative;
        overflow: hidden;
        padding: 20px 40px;
    }
    .profile__icon{
        width: 300px;
    }
    /*Instphoto*/
    .instp__item {
        width: 100%;
    }
    /*Project*/
    .proj__item {
        width: 100%;
    }
    /*Program*/
    .prog__item {
        width: 100%;
    }
    /*Footer*/
    .footer__block {
        width: 100%;
    }
}

@media(max-height:700px) {
    /*Nav*/
    /*Intro*/
    /*Profile*/
    .profile {
        padding-top: 30px;
        max-width: 1000px;
    }
    .profile__icon {
        width: 250px;
    }
    .profile__up {
        margin: 80px 0 0 0;
    }

    .profile__subup {
        padding: 0 0 8px 0;
        max-width: 1000px;
    }
    .profile__item {
        padding: 0 5px;
    }

    /*Footer*/
}










